.THIS {
    background-color: grey;
      }   
.THIS.white{
            background-color: white;
           }
.THIS.green{
            background-color: green;
           }
.THIS.violet{
            background-color: violet;
            }
.THIS .red {
background-color: red;
}